.news{

  &-item{
    padding: 20px 0;
border-bottom: 1px solid $primeYellow;

    &-title{
      margin-bottom: 10px;
    }
    &-img{
      width: 100%;
    }
    &-created{
      display: block;
      margin-top: 10px;
    }
  }
}
